.sample{
  background-image: linear-gradient(to right, #404186 0%, #17aac9 51%, #404186 100%) !important;
}

.choices>.link:hover{
  background-color: #ecedee;
  transition: all ease-in-out 0.3s;
}
.choices>.link{
  transition: all ease-in-out 0.2s;
}

.segment{
  transition: all .3s ease-in-out;
}
