<div class="ui top demo sidebar ui segment scale down">
  <div class="ui center aligned page grid">
    <div class="one column row">
      <div class="sixteen wide column">
        <h3 class="ui header">Choose an Action</h3>
      </div>
    </div>
    <div class="three column divided row">
      <div class="column">
        Pie chart statistics
        <img class="ui tiny image centered" src="assets/images/pie.jpg">
      </div>
      <div class="column">
        Hectogramme statistics
        <img class="ui tiny image centered" src="assets/images/histo.png">
      </div>
      <div class="column">
        Table statistics
        <img class="ui tiny image centered" src="assets/images/clipboard2.png">
      </div>
    </div>
  </div>
</div>

<a (click)="this.toggleTopBar()">submit</a>


